<form action="" class="container bg-info mt-3 bg-opacity-25 rounded-4">
  <div class="row ">
    <div class="col-12">
      <h1 class="text-info border-bottom border-info border-2 mx-4 mt-4">Cadastro</h1>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-6">
      <label class="form-label" for="">Nome</label><br>
      <input class="form-control" type="text" name="" id="">
    </div>
    <div class="col-6">
      <label class="form-label" for="">Sobrenome</label><br>
      <input class="form-control" type="text">
    </div>
  </div>
  <div class="row m-3">
    <div class="col-12">
      <label class="form-label" for="">Email</label><br>
      <input class="form-control" type="email">
    </div>
  </div>
  <div class="row m-3">
    <div class="col-6">
      <label class="form-label" for="">Senha</label><br>
      <input class="form-control" type="password">
    </div>
    <div class="col-6">
      <label class="form-label" for="">Idade</label><br>
      <input class="form-control" type="number">
    </div>
  </div>
  <div class="row m-3">
    <div class="col-12">
      <label class="form-label" for="">Mora na região de Santa Catarina?</label><br>
      <select name="" id="">
        <option value="">Selecione uma opção</option>
        <option value="">Sim</option>
        <option value="">Não</option>
      </select>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-12">
      <label class="form-label" for="">Quais tecnologias você já estudou?</label><br>
      <input class="form-check-input mb-2" type="checkbox" name="" id="">
      <label class="form-check-label" for="exampleCheck1">Angular</label><br>
      <input class="form-check-input mb-2" type="checkbox" name="" id="">
      <label class="form-check-label" for="exampleCheck1">Docker</label><br>
      <input class="form-check-input mb-2" type="checkbox" name="" id="">
      <label class="form-check-label" for="exampleCheck1">Java</label><br>
      <input class="form-check-input mb-2" type="checkbox" name="" id="">
      <label class="form-check-label" for="exampleCheck1">Javascript</label><br>
      <input class="form-check-input mb-2" type="checkbox" name="" id="">
      <label class="form-check-label" for="exampleCheck1">Python</label><br>
      <input class="btn btn-primary mt-2 mb-4" type="submit" value="Enviar">
    </div>
  </div>
</form>