<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="list-group">
          <a *ngFor="let notification of notifications" [ngClass]="{ 'lido': notification.lido}" href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> {{ notification.app }}</h5>
              <small>{{ notification.timestamp }}</small>
            </div>
            <p class="mb-1">{{ notification.description }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary me-md-2" type="button" (click)="read(notification)">Ler</button>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>