<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> {{ notifications[0].app }}</h5>
              <small>{{ notifications[0].timestamp }}</small>
            </div>
            <p class="mb-1">{{ notifications[0].description }}</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> {{ notifications[1].app }}</h5>
              <small>{{ notifications[1].timestamp }}</small>
            </div>
            <p class="mb-1">{{ notifications[1].description }}</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"> {{ notifications[2].app }}</h5>
              <small>{{ notifications[2].timestamp }}</small>
            </div>
            <p class="mb-1">{{ notifications[2].description }}</p>
          </a>
        </div>
      </div>
    </div>
</div>