<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://cdn-icons-png.flaticon.com/512/2645/2645897.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        NotificationApp
      </a>
    </div>
  </nav>
<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Ifood</h5>
              <small>17 min ago</small>
            </div>
            <p class="mb-1">Kelvis chegou com seu pedido.</p>
            <small>Se tiver gostado da entrega, dê uma gorjeta!</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Whatsapp</h5>
              <small class="text-muted">30 min ago</small>
            </div>
            <p class="mb-1">RPGZÃO</p>
            <small class="text-muted">Ageu: hype!</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Youtube</h5>
              <small class="text-muted">2 hours ago</small>
            </div>
            <p class="mb-1">Marombeiro Cientista fez um upload de um novo vídeo.</p>
            <small class="text-muted">Ciência da Nutrição Peri-treino para Adaptações de Resistência</small>
          </a>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/2645/2645897.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <span class="text-muted">© 2022 Company, Inc</span>
        </div>
    </footer>
    </div>